.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.colorStrip {
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    opacity: 0.7;
}