.wrapper {
    display: flex;
    width: 100%;
}

.color {
    flex: 1;
    height: 14px;
    -webkit-transition: flex 0.3s;  /* Safari */
    transition: flex 0.3s;
}

.color:hover {
    cursor: pointer;
    flex: 2;
}

.activeColor {
    font-size: 14px;
    line-height: 14px;
    color: white;
    text-align: center;
}

.activeColor:before {
    content: '✓';
}