.wrapper {
    display: flex;
    margin-left: 10px;
}

.countdownText {
    line-height: 37px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    align-items: center;
}

.number {
    font-size: 24px;
}

.label {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .countdownText {
        display: none;
    }
}