.wrapper {
    display: flex;
    justify-content: flex-end;
}

.userButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 32px;
}

@media screen and (max-width: 600px) {
    .title {
        display: none;
    }
}