.wrapper {
    background: no-repeat fixed center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper a {
    color: #ffd358;
    line-height: 2em;
}

.window {
    width: 300px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    max-width: 100%;
    justify-content: space-between;
}

.header {
    font-size: 18px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.icon {
    height: 100%;
    margin-bottom: 3px;
}

.info {
    display: flex;
    flex-direction: column;
}