.wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.actionsWrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.photoInput {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.buttons {
    display: flex;
}

@media screen and (max-width: 600px) {
    .actionsWrapper {
        flex-direction: column;
    }
}